define(function (require) {
    "use strict";
	var View = require('<|= cmvpPath |>View');
	function <|= cmvpName |> ($scope) {
		BaseController.constructor(this, $scope, View);
	};
    return <|= cmvpName |>;
});