define(function (require) {
    'use strict';
	describe('<|= cmvpPath |>Controller', function () {
		var <|= cmvpName |>Controller = require('<|= cmvpPath |>Controller');
		var ControllerHelper = require('test-helpers/Controller');
		ControllerHelper.testCallsViewShow(<|= cmvpName |>Controller);
	});
});
