define(function (require) {
    'use strict';
    var BaseController = require('cmvp/controllers/BaseController');
	var View = require('<|= cmvpPath |>View');
	function <|= cmvpName |>Controller ($scope) {
		BaseController.constructor(this, {$scope: $scope}, View);
	}
    return <|= cmvpName |>Controller;
});
