define(function (require) {
	'use strict';
	var BaseController = require('cmvp/controllers/BaseController');
	var View = require('<|= cmvpPath |>View');

	function <|= cmvpName |>Controller($scope, $rootScope) {
		BaseController.constructor(this, {
			$scope: $scope,
			$rootScope: $rootScope
		}, View);
	}

	<|= cmvpName |>Controller.$inject = ['$scope', '$rootScope'];
	return <|= cmvpName |>Controller;
});
