define(function (require) {
	describe('<|= cmvpPath |>Controller', function () {
		"use strict";
		var <|= cmvpName |>Controller = require('<|= cmvpPath |>Controller');
		var ControllerHelper = require('test-helpers/Controller');
		ControllerHelper.testCallsViewShow(<|= cmvpName |>Controller);
	});
}