define(function (require) {
    'use strict';

    function <|= cmvpName |>(di) {
        this.di = di;
    }

    <|= cmvpName |>.newInstance = function (di) {
        di = di || {};
        return new <|= cmvpName |>(di);
    };

    //TODO add methods to <|= cmvpName |>.prototype

    return <|= cmvpName |>;
});
