define(function (require) {

	describe("<%= cmvpName %>Presenter", function () {
		'use strict';
		var <%= cmvpName %>Presenter = require('presenters/<%= cmvpName %>Presenter');
		var PresenterHelper = require("test-helpers/Presenter");
		var ServiceHelper = require("test-helpers/Service");

		var sut, view, model;
		beforeEach(function () {
			view = {data: {}};
			model = {};
			sut = ServiceHelper.exerciseCreate(<%= cmvpName %>Presenter);
		});

		PresenterHelper.testShowEvents(function () { return sut; }, ['onLoad']);

		describe("handleOnLoad", function () {
			describe("always", function () {
				it("should call view and/or method X", function () {
					sut.handleOnLoad(view, model);
					expect(true).toBe(true);
				});
			});
		});
	});

});