define(function (require) {
    'use strict';
	describe('<|= cmvpPath |>Presenter', function () {
		var PresenterHelper = require('test-helpers/Presenter');
		var <|= cmvpName |>View = require('<|= cmvpPath |>View');

        var sut, view, model;
        beforeEach(function() {
            var mvp = PresenterHelper.exerciseCreateMVP(<|= cmvpName |>View);
            view = mvp.viewStub;
            model = mvp.modelStub;
            sut = mvp.presenter;
        });

        function getSut() { return sut; }
        function getModel() { return model; }
        function getView() { return view; }

        var handlerTester = PresenterHelper.exerciseRequestModel(getModel, getView, getSut);

		PresenterHelper.testShowEvents(getSut, ['onLoad']);

		describe('handleOnLoad', function () {
            var options = {
                method: 'handleOnLoad',
                modelMethod: 'initModel',
                successHandler: 'initData',
                errorHandler: 'showError'
            };
            handlerTester(options);
		});
	});

});
