define(function (require) {
    'use strict';
    function <|= cmvpName |>Presenter(di) {
        this.di = di;
    }

    <|= cmvpName |>Presenter.prototype.show = function (view, model) {
        view.event.onLoad = this.handleOnLoad.bind(this, view, model);
    };

    <|= cmvpName |>Presenter.prototype.handleOnLoad = function (view, model) {

    };

    <|= cmvpName |>Presenter.newInstance = function (di) {
        di = di || {};
        return new <|= cmvpName |>Presenter(di);
    };

    return <|= cmvpName |>Presenter;
});
