define(function (require) {
    'use strict';
	describe('<|= cmvpPath |>Presenter', function () {
		var PresenterHelper = require('test-helpers/Presenter');
		var <|= cmvpName |>View = require('<|= cmvpPath |>View');

        var sut, view, model;
        beforeEach(function() {
            var mvp = PresenterHelper.exerciseCreateMVP(<|= cmvpName |>View);
            view = mvp.viewStub;
            model = mvp.modelStub;
            sut = mvp.presenter;
        });

        function getSut() { return sut; }
        function getModel() { return model; }
        function getView() { return view; }

        var handlerTester = PresenterHelper.exerciseRequestModel(getModel, getView, getSut);

		PresenterHelper.testShowEvents(getSut, ['onLoad']);

		describe('handleOnLoad', function () {
			describe('always', function () {
				it('should call view and/or method X', function () {
					sut.handleOnLoad(view, model);
					expect(true).toBe(true);
				});
			});
		});
	});

});
