define(function (require) {
    'use strict';
    var PresenterHandlerCreator = require('cmvp/services/PresenterHandlerCreator');

    function <|= cmvpName |>Presenter(di) {
        this.di = di;
    }

    <|= cmvpName |>Presenter.newInstance = function (di) {
        di = di || {};
        return new <|= cmvpName |>Presenter(di);
    };

    <|= cmvpName |>Presenter.prototype.show = function (view, model) {
        var creator = new PresenterHandlerCreator(this, view, model);
        view.event.onLoad = creator.createEventHandler({modelMethod: 'initModel', viewSuccess: 'initData'});
    };

    return <|= cmvpName |>Presenter;
});
