define(function (require) {
    'use strict';
    var <|= cmvpName |>Presenter = require('<|= cmvpPath |>Presenter');
    var <|= cmvpName |>Model = require('<|= cmvpPath |>Model');
    var BaseView = require('cmvp/views/BaseView');

    function <|= cmvpName |>View(di) {
        BaseView.constructor(this, di);
        this._initFn();
    }

    <|= cmvpName |>View.newInstance = function (di) {
        var view = BaseView.newInstance(di, {
            presenter: <|= cmvpName |>Presenter,
            model: <|= cmvpName |>Model,
            view: <|= cmvpName |>View
        });
        return view;
    };

    <|= cmvpName |>View.prototype.show = BaseView.methods.show;
    <|= cmvpName |>View.prototype.showError = BaseView.methods.showError;

    <|= cmvpName |>View.prototype.initData = function (dto) {
        this.fn.hideDetails();
        this.data.dto = dto;
    };

    <|= cmvpName |>View.prototype._initFn = function () {
        var data = this.data;
        this.fn.showDetails = function () {
            data.detailsVisible = true;
        };
        this.fn.hideDetails = function () {
            data.detailsVisible = false;
        };
    };

    return <|= cmvpName |>View;
});
